@font-face {
    font-family: "TTLakes-Medium";
    src: url("../fonts/TTLakes-Medium.eot");
    src: local("TT Lakes Medium"), local("TTLakes-Medium"),
      url("../fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
      url("../fonts/TTLakes-Medium.woff") format("woff"),
      url("../fonts/TTLakes-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }
